:root {
    --cor-principal: #121214;
    --cor-secundaria: #202024;
    --cor-destaque: #04d361;
    --cor-texto: #ffffff;
}

body {
    background-color: var(--cor-principal);
    color: var(--cor-texto);
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.caixa-principal {
    background-color: var(--cor-secundaria);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    max-width: 500px;
    width: 100%;
}

.caixa-alternativas {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

h1 {
    color: var(--cor-destaque);
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: 1px solid var(--cor-destaque); /* Adicionado contorno leve para destacar o botão */
    border-radius: 15px;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}
